.background {
  height: 100vh;
  background: linear-gradient(120deg, #ffffff 1%, #ff0000 90%);
  .content {
    height: calc(100vh - 120px);
    .login-card {
      height: 430px;
      width: 400px;
      border-radius: 30px;
      background-color: #e9e4e4;
    }
   
    .input-icon {
        position: relative;
      .fas {
        position: absolute;
        transform: translateY(-50%);
        color: #999;
        &.fa-eye {
          right: 10px !important;
          top: 70% !important;
        }
        &.fa-lock {
          left: 10px;
          top: 70%;
        }
        &.fa-user {
          left: 10px;
          top: 70%;
        }
      }
      input {
        padding-left: 30px; /* Add padding to prevent text overlap with the icon */
      }
    }
    .btn {
      background-color: #ff0000;
      text-align: center;
      height: 50px;
      color: white;
      width: 100%;
    }
  }
  .copyright {
    padding: 0px 15px;
    color: #ffffff;
  }
}
