<nav class="navbar  ">
  <div class="container-fluid">
    <!-- Icon and Brand Name on the Left -->
    <a class="navbar-brand" href="#">
      <i class="bi bi-house-fill"></i>
      <!-- Bootstrap Icon -->
      Eazio
    </a>

    <!-- Horizontal Menu on the Right -->
    <ul class="navbar-nav ms-auto mb-2 mb-lg-0 d-flex flex-row font-weight-bold">
      <li class="nav-item">
        <a class="nav-link">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Careers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link">English</a>
      </li>
      <li class="nav-item">
        <span class="nav-link fs-3">|</span>
      </li>
      <li class="nav-item">
        <a class="nav-link">Create</a>
      </li>
    </ul>
  </div>
</nav>
