.sidebar {
  height: 100vh; /* Full height */
  background-color: #000; /* Light background color */
  padding: 20px;
  display: flex;
  flex-direction: column;
  color: #fff;
  width: 100% !important;
  .nav-link {
    color: #fff !important;
    text-decoration: none;
    text-align: left !important;
    border-radius: 5px;
    font-size: 14px;
    padding-bottom: 15px !important;
    &:hover {
      background-color: rgb(243, 161, 8) ;
    //   color: #000 !important;
    }
  }

  img {
    width: 100%; /* Full width */
    border-radius: 8px; /* Optional: rounded corners */
  }
  .nav {
    flex-grow: 1; /* Allow nav to take available space */
  }
  .nav-link {
    display: block; /* Make links block elements */
    text-align: center; /* Center align text */
    padding: 10px; /* Padding for links */
  }
}
