<div class="container-fluid">
  <div class="row">
    <div class="sidebar">
        <span class="text-center fs-2" >
            Eazio
        </span>
      <!-- Replace with your image URL -->
      <nav class="nav flex-column mt-5 ps-2">
        <a class="nav-link" href="#">
          <i class="fa fa-bar-chart px-2 fs-6"></i> Dashboard</a
        >
        <a class="nav-link" href="#">
          <i class="fa fa-bar-chart px-2 fs-6"></i>
          People
        </a>
        <a class="nav-link" href="#">
          <i class="fa fa-bar-chart px-2 fs-6"></i> Schedule</a
        >
        <a class="nav-link" href="#">
          <i class="fa fa-bar-chart px-2 fs-6"></i> Attendance</a
        >
        <a class="nav-link" href="#">
          <i class="fa fa-bar-chart px-2 fs-6"></i> Payroll</a
        >
        <a class="nav-link" href="#">
          <i class="fa fa-bar-chart px-2 fs-6"></i> Document</a
        >
      </nav>
    </div>
  </div>
</div>
